@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@font-face {
    font-family: 'Cascadia Mono';
    src: url('fonts/CascadiaMono.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --nico-black: #010409;
    --nico-blue: #1e2e6e;
    --nico-light-blue: #79C0FF;
    --nico-dark-blue: #0D1117;
    --nico-gray: #909AA6;
    --nico-light-gray: #E6EDF3;
    --nico-light-yellow: #DCDCAA;
    --nico-dark-yellow: #5f5f3d;

    --nico-dark-blue-80: color-mix(in srgb, var(--nico-dark-blue) 80%, var(--nico-blue));
    --nico-dark-blue-70: color-mix(in srgb, var(--nico-dark-blue) 70%, var(--nico-blue));
    --nico-dark-blue-60: color-mix(in srgb, var(--nico-dark-blue) 60%, var(--nico-blue));
    --nico-dark-blue-50: color-mix(in srgb, var(--nico-dark-blue) 50%, var(--nico-blue));
    --nico-dark-blue-30: color-mix(in srgb, var(--nico-dark-blue) 30%, var(--nico-blue));
    --nico-dark-blue-20: color-mix(in srgb, var(--nico-dark-blue) 20%, var(--nico-blue));

    --nico-light-blue-80: color-mix(in srgb, var(--nico-light-blue) 80%, var(--nico-blue));
    --nico-light-blue-50: color-mix(in srgb, var(--nico-light-blue) 50%, var(--nico-blue));
    --nico-light-blue-30: color-mix(in srgb, var(--nico-light-blue) 30%, var(--nico-blue));
    --nico-light-blue-20: color-mix(in srgb, var(--nico-light-blue) 20%, var(--nico-blue));

    --nico-light-gray-50: color-mix(in srgb, var(--nico-light-gray) 50%, var(--nico-gray));
    --nico-light-gray-60: color-mix(in srgb, var(--nico-light-gray) 60%, var(--nico-gray));

    --nico-font-title: 'Cascadia Mono', monospace;
    --nico-font-text: 'Roboto Mono', monospace;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--nico-light-gray);
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom right, var(--nico-dark-blue-80), var(--nico-dark-blue));
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--nico-font-title);
}

p {
    font-size: 16px;
    font-family: var(--nico-font-text);
    word-spacing: -4px;
}

a {
    display: flex;
}

p a {
    display: inline;
}

a p {
    color: inherit;
}

h1 {
    font-size: 32px;
    color: var(--nico-light-yellow);
    font-weight: bold;
    word-spacing: -8px;
    align-self: center;
}

h2 {
    font-size: 28px;
    color: var(--nico-light-yellow);
    font-weight: bold;
    word-spacing: -7px;
}

h3 {
    font-size: 22px;
    color: var(--nico-light-yellow);
    font-weight: bold;
    word-spacing: -6px;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 5.5em;
    z-index: 9999;
    justify-content: center;
    background-color: color-mix(in srgb, var(--nico-black) 80%, transparent);
    backdrop-filter: blur(0.5em);

    top: 0;
    transition: top 0.4s ease-in-out;

    .bar {
        width: 77em;
        padding: 0em 1em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .end {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2em;
        }
    }

    img {
        height: 2em;
        width: auto;
    }
}

.remove-scrolling {
    height: 100%;
    overflow: hidden;
}

main {
    display: flex;
    justify-content: center;

    > .content {
        display: flex;
        flex-direction: column;
        width: min(77em, 100%);
        padding: 0em 1em;
        margin-top: 5.5em;
        margin-bottom: 1em;
        gap: 10em;
        z-index: 0;

        > .top {
            display: flex;
            flex-direction: column;
            gap: 2em;
            margin-top: 4.5em;

            p {
                padding: 1.2em 1.2em 1.4em 1.2em;
                border-radius: 1em;
                background: var(--nico-dark-blue);
            }
        }

        .pinned {
            display: flex;
            flex-direction: column;
            gap: 2em;

            > .projects {
                display: grid;
                gap: 2em;

                grid-template-columns: repeat(auto-fit, minmax(23em, 1fr));
                grid-auto-flow: row;

                > .project {
                    display: flex;
                    flex-direction: row;
                    overflow: hidden;

                    background: linear-gradient(to bottom right, var(--nico-blue), var(--nico-dark-blue-50));

                    border-radius: 2em;
                    border: 2px solid rgba(255, 255, 255, 0.1);

                    transition: transform 0.25s ease, filter 0.3s ease;
                    filter: grayscale(50%);

                    &:hover {
                        transform: scale(1.02);
                        filter: grayscale(0%);
                    }

                    > .link {
                        position: absolute;
                        inset: 0;
                        z-index: 0;
                        cursor: pointer;
                    }

                    > .preview {
                        width: 50%;
                        height: 100%;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }

                    > .right {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 50%;
                        padding: 1em;

                        > .infos {
                            display: flex;
                            flex-direction: column;
                            gap: 1em;

                            p {
                                margin: 0em;
                            }

                            div {
                                display: flex;
                            }
                        }

                        .navigate-link {
                            align-self: end;
                            z-index: 1;

                            transform: scale(1);

                            transition: all 0.3s ease;

                            &:hover {
                                transform: scale(1.2);
                            }

                            img {
                                display: block;
                                width: 2em;
                                height: 2em;
                            }
                        }
                    }
                }
            }
        }

        .my-projects {
            display: flex;
            flex-direction: column;
            gap: 2em;

            .tabs {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
                grid-auto-flow: row;
                grid-auto-rows: 4em;
                max-width: 50em;
                width: 100%;
                margin-inline: auto;

                gap: 1.5em;
                background: linear-gradient(to bottom right, var(--nico-dark-blue-70), var(--nico-dark-blue-80));
                border: 2px solid rgba(255, 255, 255, 0.1);
                padding: 1em 1.3em;
                border-radius: 1.5em;

                .tab {
                    align-content: center;
                    text-align: center;
                    cursor: pointer;
                    border-radius: 1em;

                    border: 1px solid rgba(255, 255, 255, 0.2);
                    box-shadow: 0 0 0.15em rgba(255, 255, 255, 0.4);

                    background-color: var(--nico-dark-blue-20);

                    transition: all 0.25s ease;

                    &:hover {
                        transform: scale(1.03);
                    }

                    &.active {
                        transform: scale(1.03);
                        pointer-events: none;

                        h3 {
                            color: var(--nico-light-gray);
                        }
                    }

                    &.innactive {
                        filter: grayscale(50%);

                        h3 {
                            color: var(--nico-gray);
                        }
                    }
                }
            }

            > .projects {
                display: grid;
                gap: 2em;

                grid-template-columns: repeat(auto-fit, minmax(23em, 1fr));
                grid-auto-flow: row;
                grid-auto-rows: 30em;

                > .project {
                    display: flex;
                    position: relative;

                    &.active {
                        > .back {
                            transform: scaleX(0);
                            opacity: 0;
                            visibility: hidden;

                            transition-delay: 0s;
                        }

                        > .front {
                            transform: scaleX(1);
                            opacity: 1;
                            visibility: visible;

                            transition-delay: 0.2s;
                        }
                    }

                    &.innactive {
                        > .back {
                            transform: scaleX(1);
                            opacity: 1;
                            visibility: visible;

                            transition-delay: 0.2s;
                        }

                        > .front {
                            transform: scaleX(0);
                            opacity: 0;
                            visibility: hidden;

                            transition-delay: 0s;
                        }
                    }

                    > .back {
                        position: absolute;
                        inset: 0;
                        background: linear-gradient(to bottom right, var(--nico-blue), var(--nico-dark-blue-50));
                        border-radius: 1em;
                        border: 2px solid rgba(255, 255, 255, 0.1);
                        transform-origin: 50%;
                        z-index: 0;
                        filter: grayscale(50%);

                        transition: all 0.2s;
                    }

                    > .front {
                        position: relative;
                        background: linear-gradient(to bottom right, var(--nico-blue), var(--nico-dark-blue-50));
                        border-radius: 1em;
                        border: 2px solid rgba(255, 255, 255, 0.1);
                        overflow: hidden;
                        transform-origin: 50%;
                        z-index: 1;
                        filter: grayscale(50%);

                        transition: all 0.2s;

                        &:hover {
                            transform: scale(1.02);
                            filter: grayscale(0%);

                            > .preview img.static {
                                opacity: 0;
                            }
                        }

                        > .link {
                            position: absolute;
                            inset: 0;
                            z-index: 3;
                            cursor: pointer;
                        }

                        .scrollDest {
                            position: relative;
                            top: -14em;
                        }

                        > .preview {
                            position: relative;
                            height: 14em;
                            border-radius: 1em 1em 0 0;

                            img {
                                display: block;
                                height: 100%;
                                width: 100%;
                                object-fit: cover;

                                &.static {
                                    position: relative;
                                    z-index: 2;

                                    transition: opacity 0.25s ease-in-out;
                                }

                                &.gif {
                                    position: absolute;
                                    inset: 0;
                                    z-index: 1;
                                }
                            }
                        }

                        > .infos {
                            display: flex;
                            flex-direction: column;
                            gap: 1em;
                            padding: 1em;
                            height: 16em;

                            > .title {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                width: 100%;

                                > .date {
                                    display: flex;
                                    padding-top: 0.2em;
                                    padding-right: 0.2em;

                                    p {
                                        color: var(--nico-gray);
                                    }
                                }
                            }

                            > .tools {
                                display: flex;
                                flex-direction: column;
                                justify-content: end;
                                height: 100%;
                                margin: .5em 0 .2em 0;

                                .list {
                                    display: flex;
                                    justify-content: end;
                                    gap: 1em;

                                    .tool {
                                        background-color: var(--nico-dark-blue-20);

                                        border-radius: 1em;
                                        border: 1px solid rgba(255, 255, 255, 0.2);
                                        box-shadow: 0 0 0.15em rgba(255, 255, 255, 0.4);

                                        padding: 0.5em;
                                        z-index: 4;

                                        transition: transform 0.25s ease-in-out;

                                        img {
                                            width: 2.5em;
                                            height: 2.5em;
                                        }

                                        &:hover {
                                            transform: scale(1.05);
                                        }
                                    }

                                    .separator {
                                        width: 2px;
                                        background-color: gray;
                                        margin: 0.5em 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        > .bottom {
            display: flex;
            justify-content: center;
            width: 100%;

            p {
                color: var(--nico-gray);
                font-style: italic;
            }
        }
    }

    .project-page {
        position: fixed;
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        z-index: 1;

        &.active {
            .background {
                backdrop-filter: blur(1em);
            }
        }

        &.innactive {
            pointer-events: none;

            .foreground {
                transform: scale(0);
                opacity: 0;
            }
        }

        .background {
            position: absolute;
            inset: 0;
            z-index: 0;

            transition: all 0.3s ease-in-out;
        }

        .foreground {
            display: flex;
            flex-direction: row;
            width: min(100%, 77em);
            height: 45em;
            gap: 1em;
            align-self: center;
            padding: 0em 1em;
            z-index: 1;

            transition: all 0.3s ease-in-out;

            .button {
                height: 8em;
                aspect-ratio: 0.618;
                align-self: center;
                cursor: pointer;
                border-radius: 1em;
                border: 2px solid rgba(102, 101, 190, 0.121);
                padding: 0 0.5em;
                margin-bottom: 2em;
                opacity: 0.8;
                background-color: var(--nico-dark-blue-80);

                filter: grayscale(0);

                transition: all 0.3s ease;

                @media screen and (max-width: 50em) {
                    display: none;
                }

                @media screen and (min-width: 50em) {
                    display: flex;
                }

                &.innactive {
                    filter: grayscale(1);
                    opacity: 0.5;
                    pointer-events: none;
                }

                &:hover {
                    opacity: 1;
                }

                img {
                    display: block;
                    width: 100%;
                    height: auto;
                    object-fit: contain;

                    transition: all 0.2s ease;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            .middle {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                gap: 1em;

                > .content {
                    display: flex;
                    position: relative;
                    overflow: hidden;

                    width: 100%;
                    height: 100%;

                    background: linear-gradient(to bottom right, var(--nico-blue), var(--nico-dark-blue-50));
                    border-radius: max(1em, min(7cqi, 3em));
                    border: 2px solid rgba(255, 255, 255, 0.1);

                    .grid {
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(min(100%, 25em), 1fr));
                        grid-auto-flow: row;
                        overflow: scroll;

                        width: 100%;
                        height: 100%;

                        .left {
                            display: flex;
                            flex-direction: column;
                            height: 100%;

                            > .preview {
                                position: relative;
                                display: flex;
                                height: 18.5em;
                                width: 100%;

                                img {
                                    display: block;
                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover;

                                    &.static {
                                        position: relative;
                                        z-index: 1;

                                        transition: opacity 0.25s ease-in-out;
                                    }

                                    &.gif {
                                        position: absolute;
                                        inset: 0;
                                        z-index: 0;
                                    }

                                    &:hover {
                                        &.static {
                                            opacity: 0;
                                        }
                                    }
                                }
                            }

                            > .infos {
                                display: flex;
                                flex-direction: column;
                                flex-grow: 1;
                                padding: 1.5em;
                                gap: 1.5em;

                                > .title {
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: wrap;
                                    justify-content: space-between;
                                    align-items: center;
                                    gap: 1em;

                                    > .date {
                                        p {
                                            color: var(--nico-light-gray-60);
                                            font-size: 16px;
                                        }
                                    }
                                }

                                > .text {
                                    p {
                                        font-weight: 500;
                                    }
                                }

                                > .bottom {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: end;
                                    padding-bottom: 1em;
                                    gap: 1em;
                                    height: 100%;

                                    a {
                                        width: fit-content;
                                        color: var(--nico-light-blue);
                                    }

                                    > .tools {
                                        flex-direction: column;

                                        &.active {
                                            display: flex;
                                        }

                                        &.innactive {
                                            display: none;
                                        }
                                    }

                                    .links {
                                        flex-direction: column;

                                        &.active {
                                            display: flex;
                                        }

                                        &.innactive {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }

                        > .right {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            background: linear-gradient(to bottom right, var(--nico-dark-blue-50), var(--nico-dark-blue-80));

                            > .top {
                                display: flex;
                                flex-direction: row;
                                width: 100%;
                                padding: 1.5em;
                                align-content: center;

                                h2 {
                                    align-self: center;
                                }
                            }

                            > .text {
                                display: flex;
                                padding: 1.5em;

                                p {
                                    font-weight: 500;
                                    font-size: 18px;
                                    color: var(--nico-light-gray-50);
                                    white-space: pre-wrap;
                                }
                            }
                        }
                    }

                    .close {
                        position: absolute;
                        top: 1em;
                        right: 1em;
                        z-index: 9999;

                        img {
                            display: block;
                            width: 3em;
                            height: 3em;
                            cursor: pointer;
                            align-self: center;

                            transition: all 0.2s ease;

                            &:hover {
                                transform: scale(1.15);
                            }
                        }
                    }
                }

                > .bottom {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 0em 1em;
                    gap: 1em;

                    p {
                        color: var(--nico-light-gray-60);

                        @media screen and (max-width: 50em) {
                            display: none;
                        }
                    }

                    .dots {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: 0.6em;

                        .dot {
                            display: block;
                            width: 0.8em;
                            aspect-ratio: 1;
                            border-radius: 50%;
                            border: 1px solid rgba(255, 255, 255, 0.6);
                            opacity: 60%;

                            transition: all 0.2s ease;

                            &.active {
                                transform: scale(1.15);
                                background-color: var(--nico-light-gray-60);
                                pointer-events: none;
                            }

                            &.innactive {
                                background-color: var(--nico-gray);
                                cursor: pointer;
                            }

                            &:hover {
                                transform: scale(1.15);
                            }
                        }
                    }
                }
            }
        }
    }
}
