:root {
    --nico-dark: #1f1f1f;
    --nico-normal: #b5b5b5;
    --nico-light: #dadada;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: #0D1117;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(134, 167, 196);
}

main {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    width: 70em;
    gap: 3em
}

.content .top {
    background-color: rgb(97, 207, 170);
}

.content .projects {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.content .projects .project {
    display: flex;
    flex-direction: row;
}

.content .projects .project .preview {
    width: 55%;
    background-color: gainsboro;
    padding: 1em;
    display: flex;
    align-items: flex-start;
}

.content .projects .project .preview img {
    width: 100%;
    height: auto;
    margin: auto;
    border: 1em double var(--nico-dark);
    border-radius: 2em;
}

.content .projects .project .infos {
    background-color: rgb(207, 97, 97);
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
}

.content .projects .project .infos h1 {
    font-size: 32px;
    font-weight: bold;
}

.content .projects .project .infos p {
    margin: 0em;
    font-size: 22px;
}

.content .projects .project .infos div {
    display: flex;
}

.content .projects .project .infos .title {
    flex-direction: row;
}
.content .projects .project .infos .title .date {
    justify-content: end;
    flex: auto;
}

.content .projects .project .infos .tools {
    display: flex;
    gap: 1em;
}

.content .projects .project .infos .tools img {
    background-color: var(--nico-normal);
    border: 0.2em solid var(--nico-dark);
    border-radius: 1em;
    width: 3em;
    height: 3em;
    padding: 0.2em;
}

.content .bottom {
    background-color: rgb(115, 124, 31);
}

footer {
    width: 100%;
    background-color: rgb(25, 25, 39);
}