body {
    background-color: darkblue;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0;
}

header {
    background-color: rgb(134, 167, 196);
}

main {
    display: flex;
    justify-content: center;
}

.stuff {
    display: flex;
    flex-direction: column;
    width: 70em;
    gap: 3em
}

.stuff .top {
    background-color: rgb(97, 207, 170);
}

.stuff .projects {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.stuff .projects .project {
    display: flex;
    flex-direction: row;
}

.stuff .projects .project .left {
    width: 55%;
    background-color: gainsboro;
    padding: 1em;
    display: flex;
    align-items: top;
}

.stuff .projects .project .left img {
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 1em;
}

.stuff .projects .project .right {
    background-color: rgb(207, 97, 97);
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
}

.stuff .projects .project .right h1 {
    font-size: 32px;
    font-weight: bold;
}

.stuff .projects .project .right p {
    margin: 0em;
    font-size: 22px;
}

.stuff .projects .project .right div {
    display: flex;
}

.stuff .projects .project .right .title {
    flex-direction: row;
}
.stuff .projects .project .right .title .date {
    justify-content: end;
    flex: auto;
}

.stuff .projects .project .right .tools-list {
    display: flex;
    gap: 1em;
}

.stuff .projects .project .right .tools-list .tool {
    border: 1px solid black;
    border-radius: 1em;
    width: 3em;
    height: 3em;
}

.stuff .bottom {
    background-color: rgb(115, 124, 31);
}

footer {
    width: 100%;
    background-color: rgb(25, 25, 39);
}